.item{
    width: 40%;
    margin-bottom: 50px;
    background: #07db12; 
    border: 10px;
    overflow: hidden;
    margin: 10px;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 100ms ease;

        &:hover{
            transform: scale(1.05);
        }
    }
}
